<form action="/new_word" method="post">
    Escribe una palabra:
    <br>
   <!-- <input type="text"name="user_word"> -->
    <input type="text" name="new_word">
    <input type="submit" value="Enviar">
  </form>